<ul>
<li>Your fajr timing is <%= Fajr %></li>
<li>Your Dhuhr timing is <%= Dhuhr %></li>
<li>Your Asr timing is <%= Asr %></li>
<li>Your Maghrib  timing is <%=  Maghrib %></li>
<li>Your Isha timing is <%= Isha %></li>


</ul>


